// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.no-wrap {
    flex-wrap: nowrap !important;
}
.pull-right {
    display: flex;
    justify-content: end;
}
